<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clang Editor</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="./css/uikit.min.css">
    <!-- <link href="https://cdn.bootcss.com/font-awesome/5.12.1/css/fontawesome.min.css" rel="stylesheet"> -->
</head>
<body>
    <div class="Container  uk-height-viewport">
        <div id="LeftBar" class="uk-flex uk-flex-column">
            <div id="Gravatar" class="uk-border-circle " style="width: 185px;height: 185px;background-image: url('./3.png');"></div>
            <div class="item uk-flex uk-flex-column uk-text-center">
                <div id="ProgramNa"><span>Clang Editor</span></div>
                <div class="ItemBar uk-flex"><img src="home.png" width=32px height=32px alt=""><span class="uk-text-center">首 &emsp;页</span></div>
                <div class="ItemBar uk-flex"><img src="setting.png" width=32px height=40px alt=""><span class="uk-text-center">设 &emsp;置</span></div>
                <div class="ItemBar uk-flex"><img src="about.png" width=32px height=32px alt=""><span class="uk-text-center">关 &emsp;于</span></div>
                <div id="Version"><span>Version: 0.0.1 Alpha</span></div>
            </div>
        <div class="Leftcover"></div>
        </div>
        <div id="RightBar" class="uk-position-right" style="width: calc(100% - 310px);" >
            <header>
                <span id= "title" class="uk-heading-large" >HI!,MY ADMINISROT</span>
                <!-- <div id="close" class="uk-position-right uk-text-center"></div> -->
            
            </header>

            <div id="infor" class="uk-heading-small uk-flex uk-width-1-1">
                <span id="infor-stor">Storage</span>
                <button class="uk-button uk-button-default uk-border-circle " id="additem"  @click="addItem()">+</button>
            </div>
            <div id="infor-bar" ></div>
            <!-- cardItem area -->
            <div class="card uk-flex uk-flex-1" v-for="(items,index) in carditems">
                <div class="card-left">
                    <div class="card-title "><span class="uk-heading-small">{{items.title}}</span></div>
                    <div class="card-path"><span>{{items.path}}</span></div>
                </div>
                
                <div class="card-right uk-flex uk-flex-column uk-flex-1 uk-text-right">
                    <div class="card-edit"><img src="more.png" width=40px alt=""></div>
                    <div class="card-byte"><span id="card-edit-text">{{items.byte}}</span></div>
                    <div class="card-start">
                       <button class="uk-button uk-button-default uk-border-rounded " @click="start(index)">启动</button>
                    </div>
                </div>
            </div> 
            <div class="card uk-flex uk-flex-center uk-flex-middle" style="height: 55%;"v-if="Isempty">
                <p style="font-size: 40px;color: #fff;text-shadow: 1px 1px 5px rgba(0,0,0,.25);">您还没有创建任何项目噢</p>
                {{IsemptyM}}
            </div>

        </div>
        <div id="blurCover"></div>
        <video src="./Pine-Watt.mp4" autoplay  loop  class="uk-width-1-1 uk-height-viewport" style="z-index:-2;position: fixed;object-fit: fill;"></video>
        <!-- 对话框 -->
        <div id="modal-center" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        
                <button class="uk-modal-close-default" type="button" uk-close></button>
        
                <p>提示内容</p>
        
            </div>
        </div>
        
    </div>
    <script src="js/vue.js"></script>
    <script src="js/uikit.min.js"></script>
    <script src="js/index.js"></script>
    <script>
        var fs= require('fs');
        // console.log(fs);
    </script>

    <!-- <script src="js/uikit-icons.min.js"></script> -->
</body>
</html>