.body {
    overflow: hidden;
    margin-left: -1px;
}
* {
    user-select: none; 
    transition: .3s;
}
/* LeftBar */
.item  span {
    color: #fff;
    /* text-shadow: 1px 1px 1px white; */
    /* font-weight: 5px; */
}
#LeftBar {
    /* position: relative; */
    position: fixed;
}

#Gravatar {
    margin: 64px 63px 28px 63px;
    flex-shrink: 0;
    box-shadow: 0 0 6px 1px #000;
}
#ProgramNa {
    margin: 0px 0px 28px 0px;
    
}
#close {
    position: relative;
    width: 50px;
    height: 30px;
    font-size: 40px;
}
#close::before{
    content: "×";
    position: absolute;
    /* left: -1px; */
    right: 11px;
    top: -18px;
}
#close::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.35);
    left: -1px;
    z-index: -1;
}
#ProgramNa , .ItemBar > span  {
    font-size: 29px;
}
.item .ItemBar {
    margin-bottom: 25px;
    /* box-shadow: 0 0 6px 1px #000; */
    background-color: rgba(0,0,0,.25);
    align-items: center;
    /* align-content: center; */
    justify-content: center;
    transition: .3s;
    /* line-height: 5px; */
    /* align-self: center; */
    /* flex-shrink: 1; */
}
.ItemBar img {
    margin: 0px 25px 0px -25px;
    padding: 0px 0px 0px 0px;
}
.ItemBar:hover {
    background-color: #fff;
    box-shadow: 0 0 5px #fff;
    cursor: pointer;
}
.ItemBar:hover  span{
    color: black;
}
.ItemBar:hover  img{
    filter:invert(100%);
}
.card-edit {
    cursor: pointer;
    
}

#Version {
    margin: 14px 0px 0px 0px;
}
.item {
    align-content: space-between;
}
.Leftcover {
    content: "";
    background-color: rgba(0,0,0,.45);
    position: absolute;
    opacity: .40;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
}
header #title {
    color: white;
    text-shadow: 1px 1px 5px rgba(0,0,0,.25);
    /* margin: 49px 0px 0px 43px; */
}
header {
    padding: 42px 0px 9px 43px;

    border-bottom: 2px rgba(0,0,0,.75) solid;
}
#infor {
    margin-top: 3px 0px -10px 0px;
    padding: 0px 0px 0px 43px;
    justify-content: space-between;
    align-items: center;
}
#additem {
    margin: 0px 45px 0px 0px;
    border: 2px #fff solid;
    color: #fff;
    font-size: 40px;
    /* text-align: center; */
    width: 40px;
    height: 40px;
    line-height: 6px;
    padding: 0px 0px 5px 0px ;
    transition: .35s;
}
#additem:hover {
    background-color: #fff;
    color: black;
    box-shadow: 0px 0px 5px #fff;
    /* text-shadow: 1px 1px 1px black; */
    /* content: url("./plus-hov.png") !important; */
}
#infor #infor-stor {
    text-shadow: 0 0 5px rgba(0,0,0,.55);
}
#infor-bar {
    height: 8px;
    width: calc(95% - 20px);
    background-color: rgba(255,255,255);
    margin-left: 43px;
    opacity: .35;
}

.card {
    margin: 10px 0px 0px 43px;
    background-color: rgba(255,255,255,.16);
    width: calc(95% - 20px);
    overflow: hidden;
    transition: .3s;
    border-radius: 5px;
}

.card:hover {
    /* background-color: rgba(255,255,255,.8); */
    /* box-shadow: 0 0 1px 2px rgba(0,0,0,.35); */
    box-shadow: 0px 0px 5px 1px #fff;
}

.card-title {
    padding: 0px 0px 0px 5px;
    text-shadow: 0 0 5px rgba(0,0,0,.55);

}
.card-path {
    margin: 10px 0px 10px 0px;

}
.card-path span {
    padding: 0px 0px 0px 5px;
    color: #fff;
    font-size: 25px;
    text-shadow: 0 0 1px  rgba(255,255,255,.75);
}
.card-right {
    

}

.card-edit img {
    margin: -5px 8px;
    
}
.card-byte{
    margin: -5px 7px;
    
}
.card-byte span{
    
    /* line-height: 0px; */
    /* overflow: hidden; */
    /* padding: 0px 0px 20px 0px; */
    /* margin: -70px 5px 0px 0px; */
    /* height: 10px; */
    overflow: hidden;
    margin-top: 10px;
    font-size: 20px;
    color: #b4b4b4;
    text-shadow: 0 0 3px 2px #000;
}
.card-start button {
    color: #fff;
    transition: .6s;
    margin: 20px 5px 0px 0px;
}
.card-start button:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 0px 0px 5px #fff;
}